{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" name="title" id="title" required type="text" value="{{ request.form['title'] }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Body</label>
        <textarea class="form-control" name="body" id="body" required>{{ request.form['body'] }}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}